{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    
    <title>Document</title>
</head>
<body>
    <div class="home">
        <div class="nav">
            <div class="nav-title">
                TO DO APP
            </div>
            <div class="nav-items">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'home' %}#about">About</a>
                <a href="{% url 'home' %}#help">Help</a>
            </div>
        </div>
        <div class="home-content" id = "todo">
            <div class="home-content-title">
                <h3>TO DO APP</h3>
            </div>
            <div class="home-content-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore consequatur autem dignissimos praesentium facere laborum possimus delectus provident, nesciunt cum quidem maxime impedit sint temporibus, minima voluptatum. Ut, non! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi assumenda maiores odio corrupti? Numquam non officiis expedita magni consequatur doloremque modi architecto ea. Molestiae ipsa dolore perspiciatis. Iusto, voluptas vel!</p>
            </div>  
        </div>
        <div class="home-content"id ="about">
            <div class="home-content-title">
                <h3>ABOUT</h3>
            </div>
            <div class="home-content-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit est voluptatibus praesentium ut, quibusdam quaerat ipsam molestiae iure a porro, dicta vero quos necessitatibus corporis! Aperiam, fugiat? Quia, ullam quisquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi assumenda maiores odio corrupti? Numquam non officiis expedita magni consequatur doloremque modi architecto ea. Molestiae ipsa dolore perspiciatis. Iusto, voluptas vel!</p>
            </div>  
        </div>
        <div class="home-content" id = "help">
            <div class="home-content-title">
                <h3>HELP</h3>
            </div>
            <div class="home-content-box">
                <!-- <input type="text"  height= "100"> -->
                <textarea name="" id="" cols="60" rows="10"></textarea>
            </div>  
            <div class="home-content-btn">
                <button>submit</button>
            </div>
        </div>
    </div>
</body>
</html>