{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            TO DO APP
        </div>
        <div class="nav-items">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'home' %}#about">About</a>
            <a href="{% url 'home' %}#help">Help</a>
        </div>
    </div>
    <div class="login">
        <div class="login-title">
            <h4>USER LOGIN</h4>
        </div>
        <form action="" method ="POST">
            {% csrf_token %}
            <div class="login-form">
                user name  {{form.username}}
                password  {{form.password}}
                <!-- user name  <input type="text">
                password  <input type="password"> -->
            </div>
            <div class="login-btn">
                <a href="{% url 'register' %}">Register</a>
                <button>Login</button>
            </div>
        </form>
    </div>
    
</body>
</html>