<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="register.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            TO DO APP
        </div>
        <div class="nav-items">
            <a href="home.html">Home</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
            <a href="home.html#about">About</a>
            <a href="home.html#help">Help</a>
        </div>
    </div>
    <div class="register">
        <div class="register-title">
            <h4>ACCOUNT CREATION</h4>
        </div>
        <div class="register-form">
            <label for="">User Name</label><input type="text">
            <label for="">Email</label><input type="email">
            <label for="">Password</label><input type="password">
        </div>
        <div class="register-btn">
            <form action="#" method="post">
                <button>Register</button>
            </form>
            
        </div>
    </div>
    
</body>
</html>