{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            Hi {{request.user}}
            <input type="date">
        </div>
        <div class="nav-quote">
            PLAN UR DAY
        </div>
        <div class="nav-items">
            <a href="{% url 'logout' %}">log out</a>
        </div>
    </div>
    <div class="todo">
        <div class="todo-nav">
            TO DO
            <!-- <a href="create-task/">Add a task</a> -->
        </div>
        {% for task in tasks %}
            <div class="todo-content">
                <div class="todo-content-task">
                    <!-- <input type="radio" id="{{task.id}}" name="tasks" value=""> -->
                    <label for="html"><a href="{% url 'task' task.id %}">{{task.title}}</a> : {{task.description}}</label><br> 
                </div>
            </div>
        {% endfor %}
        <div class="todo-btn">
            <a href="create-task/">Add a task {{color}}</a>
        </div>
    </div>
    <div class="spnote">
        <div class="spnote-title">
            <h4>Special Note</h4>
        </div>
        <div class="spnote-content">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    
</body>
</html>